/*******************************
*                              *
*        GOOGLE FONTS          *
*                              *
*******************************/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400&family=Roboto:ital,wght@0,300;0,500;0,700;1,100&display=swap');



/*******************************
*                              *
*        GENERAL STYLES        *
*                              *
*******************************/
:root {
    --color-black: rgb(22,22,22);
    --color-white:rgb(248, 238, 238);
    --color-black-transparent:rgb(22,22,22,0.6);
    --color-green:rgb(46,184,99);
    --color--dark-grey: rgb(80, 78, 78);
    --color--grey: rgb(158, 158, 158);
    --color-yellow: rgb(240,173,78);
    --color-red: rgb(236, 87, 87);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.dark-grey {
     color: var(--color--dark-grey) !important;
}

a {
    text-decoration: none !important;
    color: var(--color-white);
    z-index: 20;
}

a:hover {
    color: var(--color-white);
}

img {
    width: 100%;
}


.title {
    color: var(--color-white);
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.sub-title {
    text-align: center !important;
    color: var(--color--grey);
    margin: 50px 0 100px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

p {
    color: var(--color--grey);
    font-size: 1.1rem;
}

.overlay {
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    opacity: 0.5;
    z-index: 10;
}

.button-box{
    text-align: center;
}

.btn {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 15px 80px;
    transition: 0.3s;
    text-transform: uppercase;
}

.btn:hover {
    color: var(--color-white);
    transform: scale(.9);
}

.display-mobile {
    display: none;
}

.fa-bars,
.fa-xmark {
    font-size: 1.8rem;
    position: absolute;
    left: 50px;
    z-index: 50;
}

.fa-bars.active {
    display: none;
}

.fa-xmark {
    display: none !important;
}
.fa-xmark.active {
    display: block !important;
}

.fa-brands{
    color: var(--color--grey);
    font-size: 1.8rem;
    margin-right: 15px;
    transition: 0.3s;
}

.fa-brands:hover{
    color: var(--color-black);
    font-size: 1.8rem;
    margin-right: 15px;
    transform: scale(1.1);
}

.title-box {
    position: relative;
}

.under-bar {
    background-color: var(--color--grey);
    width: 220px;
    height: 2px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 60px auto;
}

/*******************************
*                              *
*          HERO SECTION        *
*                              *
*******************************/
.hero {
    background-image: url("https://images.fresha.com/locations/location-profile-images/225865/629115/c47eda38-e238-46b1-be51-f87e60c07356.jpg?class=fallback");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 20;
    position: relative;
    display: table;
    transition: 0.5s;
}

.hero.active {
    height: 103vh;
}

.hero .info-top {
    background-color: var(--color-black);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 50;
}
.hero .info-top a{
    margin-left: 35px;
    margin-right: 15px;
}

.hero .hero-box {
    margin-top: 20%;
    z-index: 10;
    position: relative;
    color: var(--color-white);
    display: table-cell;
    vertical-align: middle;
}

.hero .hero-box .hero-nav{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}

.hero .hero-box .hero-nav a{
    color: var(--color-white);
    margin-left: 50px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.hero .active-nav {
    color: var(--color--dark-grey) !important;
}

.hero .hero-box .hero-nav a:hover {
    transform: scale(0.1) !important;
}

.hero .hero-box .btn{
    margin: 40px 0 40px 0;
}

/*******************************
*                              *
*     EXPERIENCE SECTION       *
*                              *
*******************************/
#experience,
#reviews,
#work,
#about,
#services {
    background-color: var(--color-black);
    overflow: hidden;
    color: var(--color-white);
}

#experience .row {
  margin-bottom: 200px;
}

#experience .col-md-5 {
  margin-top: 100px;
}

#experience .img-left {
    margin-left: -150px;
}

#experience .img-right {
    margin-left: 150px;
}

#experience h4 {
    padding-bottom: 25px;
    font-size: 1.5rem;
    text-align: center;
}

#experience p {
    text-align: center;
}

#experience .btn{
    margin-top: 50px;
    padding: 15px 60px;
}

/*******************************
*                              *
*       REVIEWS SECTION        *
*                              *
*******************************/
#reviews .col-md-4 {
    text-align: center;
}

#reviews .container {
    margin-bottom: 100px;
}

#reviews .col-md-4 .review-sorce {
   font-size: 1.5rem;
   font-weight: 500;
   color: var(--color-white);
}

#reviews .col-md-4 span {
      color: var(--color-yellow);
}

#reviews .rating-box {
      margin-bottom: 100px;
}

#reviews .reviews-box {
    position: relative;
    width: 80%;
    margin: 0 auto 150px;
}

#reviews .reviews-box p {
   margin: 0 auto;
}

#reviews .reviews-box img {
   width: 30%;
   margin: 15px 5px;
   border-radius: 50%;
   border: 1px solid var(--color-white);
}

#reviews .reviews-box .reviews-img,
#reviews .reviews-box .reviews-right {
    position: absolute;
}

#reviews .reviews-box .reviews-img {
    left: 5px;
}

#reviews .reviews-box .reviews-right {
    right: -80px;
}
#reviews .reviews-box .reviews-right img {
    width: 25%;
}

/*******************************
*                              *
*         WORK SECTION         *
*                              *
*******************************/
#work .container {
    max-width: 1000px;
}

#work .container .col-md-4 {
margin-bottom: 25px;
}

/*******************************
*                              *
*        ABOUT SECTION         *
*                              *
*******************************/
#about .about-img{
  margin-bottom: 150px;
}

#about .about-img-1 img {
    width: 80%;
}

#about figcaption {
    text-align: center;
    padding: 25px;
    font-size: 1.5rem;
}

#about .about-text {
    text-align: center;
}

#about .about-text p{
    margin-bottom: 50px;
}

#about .about-img img {
    margin: 0 auto;
    display: block;
}

#about .about-img-2 img {
    width: 50%;
}

#about .col-md-12 img {
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-bottom: 100px;
}

/*******************************
*                              *
*            FOOTER            *
*                              *
*******************************/
#footer {
    padding: 80px 15px 20px;
    color: var(--color--grey);
    text-align: center;
}

#footer .links-box a{
    color: var(--color--grey);
}

#footer .shedule-box p{
    font-size: 1.1rem;
}

#footer .shedule-box h2{
    font-size: 1.1rem;
    margin: 35px 0;
}

#footer .btn {
    margin-top: 25px;
    padding: 10px 15px;
    background-color: aliceblue;
    color: var(--color-red);
    border: 1px solid var(--color-red);
    margin-bottom: 25px;
    box-shadow: rgb(1 1 1 / 30%) 0px 0px 10px 5px;
}

#footer hr {
    background: var(--color--grey);
}

#footer .footer-bottom .copyright {
    text-align: left;
}

#footer .footer-bottom .copyright p {
    font-size: 0.8rem;
}

#footer .footer-bottom .social-media {
   text-align: right;
}

/*******************************
*                              *
*        SERVICES PAGE         *
*                              *
*******************************/
.sub-hero {
    background-image: url("https://www.appointfix.com/blog/wp-content/uploads/2021/12/barber-shop-decor-ideas.jpg");
    height: 40vh;
}

.sub-hero .overlay {
    height: 42vh;
    opacity: 0.8;
    transition: 0.5s;
}

/* SERVICE SECTION */
#services h2 {
    width: 380px;
    margin: 50px auto;
}

#services h3 {
    font-size: 1.5rem;
}

#services p {
   font-size: 1rem;
}

#services .under-bar {
    top:50px
}

#overlay.active {
    height: 103vh !important;
}

#services .services-top {
    text-align: center;
    margin: 100px 0;
}

#services .services-middle {
    margin: 100px 0;
}

#services .services-text {
    margin-bottom: 40px;
}

#services .services-bottom img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

#services .btn {
    margin: 100px 0 20px;
}

#services .services-banner {
   background-image: url("https://amoryalexandra.com/wp-content/uploads/2019/07/Amory-Alexandra-Mens-Salon-NYC-Grooming-32-In-Office-Haircuts.jpg");
   height: 40vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 0px -105px;
   position: relative;
}

#services .services-banner .overlay {
    height: 40vh;
}

#services .container-banner h3 {
   font-size: 1.2rem;
}

.hr {
    background-color: var(--color-white);
    width: 60%;
    margin: 0 auto;
    display: block;
    opacity: 0.4;
}
  
/*******************************
*                              *
*      PROMOTIONS PAGE         *
*                              *
*******************************/
.promotions .under-bar {
    margin: 10px auto
}

.promotions .gift-banner {
    background-image: url("https://amoryalexandra.com/wp-content/uploads/2020/01/Amory-Alexandra-Mens-Scissor-Haircuts-NYC-Grooming-Gift-Cards.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    width: 70%;
    margin: 0 auto;
    border: 2px solid var(--color-white);
    border-radius: 5px;
    display: table;
    z-index: 50;
    position: relative;
}

.promotions .gift-banner .overlay{
    height: 19.5vh;
    z-index: 10;
}

.promotions .gift-banner h3{
   display: table-cell;
   vertical-align: middle;
   color: var(--color-white);
   font-size: 2rem !important;
   z-index: 20;
   position: relative;
}

.promotions p{
  color: var(--color-white);
}

.promotions .links-box h3{
   font-size: 1.4rem !important;
}

.promotions .links-box img{
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 100px;
}