
/*******************************
*                              *
*         RESPONSIVE CSS       *
*                              *
*******************************/
@media only screen and (max-width: 1000px) {
    #work .container-xl {
        max-width: 910px;
        margin: 0 auto;
    }

    .active-link {
        background-color: var(--color--dark-grey);
        color: var(--color-white) !important;
        padding: 4px 80px;
    }

    #footer .shedule-box p,
    #footer .shedule-box a{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 900px) {
    #work .container-xl {
        max-width: 810px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 800px) {
    #work .container-xl {
        max-width: 710px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 767px) {
    
    p {
      font-size: 0.8rem;
    }
    .display-desktop,
    #heroNav{
        display: none;
    }

    .display-mobile {
        display: block;
    }

    .hero .info-top {
        justify-content:center;
    }

    .hero .info-top a{
        color: var(--color-green);
    }

    .hero .hero-box .hero-nav {
      background-color: var(--color-black-transparent);
      padding: 25px 0;
      position: absolute;
      width: 90%;
      height: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      transition: all 5s;
    }
    
    .hero .hero-box .title{
        margin-bottom: 80px;
        font-size: 1.8rem;
        
    }
    
    .hero .hero-box .hero-nav p{
        display: block;
        text-align: left;
        margin-bottom: 15px;
    }
 

    #heroNav.active {
        display: block !important;
        height: 250px;
    }

    #experience .img-left {
          margin-left: 0px;
    }

    #experience .img-right {
        margin-left: 0px;
    }

    #experience img {
        margin-bottom: 50px;
    }

    #experience .row {
        margin-bottom: 50px;
      }
      
    .row-reverse {
            flex-direction: column-reverse;
    }

    #experience .col-md-5 {
        margin-top: 20px;
        padding: 0 45px;
      }
      
      .container {
        max-width: 750px;
      }

      #experience h4 {
        font-size: 1rem;
     
    }

    #work .container-xl {
        max-width: 600px;
        margin: 0 auto;
    }

    #work .col-md-4 {
        margin-top: 25px;

    }

    #about .about-text {
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    #about .col-md-12 img {
        width: 100%;
    }

    #footer .btn {
        margin: -15px 0 25px;
    }

    #footer .footer-bottom .copyright,
    #footer .footer-bottom .social-media  {
        text-align: center;
    }
    
    .services-title {
        margin: 55px 0 10px !important;
    } 

    #services .services-bottom img {
        width: 100%;
     
    }
}